<h1 class="text-center">
    Click to load feed
</h1>

<div class="btn-group rss-feed-btn" role="group" aria-label="Basic outlined example">
  <button type="button" onclick="clickMe(event)" class="btn btn-primary" data-url="https://feeds.bbci.co.uk/news/rss.xml">BBC news</button>
  <button type="button" onclick="clickMe(event)" class="btn btn-primary" data-url="https://www.buzzfeed.com/uk/index.xml">Buzzfeed</button>
  <button type="button" onclick="clickMe(event)" class="btn btn-primary" data-url="https://fliplet.com/feed">fliplet</button>
  <button type="button" onclick="clickMe(event)" class="btn btn-primary" data-url="https://www.ft.com/news-feed">FT</button>
</div>
<style>
    .rss-feed-btn{
        display:flex;
        justify-content: center;
        
    }
</style>

